.section-head{
	margin-top: -60px;
	padding-top:60px;
}

.title{
	margin-top:50px;
	margin-bottom:30px;
}

.calendar-wrapper{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}

.circuit-img{
	width:100%;
}

.calendar-wrapper .rider-img{
	width:100%;
}

.podium-section{
	padding:10px;
	border-top: 1px solid #ddd;
}

.podium-section .panel{
	margin:0;
}

.podium-section .panel-body{
	padding:0;
}

.podium-section .panel-heading{
	font-size:13px;
}

.podium-section .rider-content{
	padding: 0 2px;
}

.circuit-section{
	margin-top:10px;
	margin-bottom:10px;
}

.rider-block{
	padding:5px;
}

.rider-image{
	padding:5px;
}

.rider-image img{
	width:100%;
}

.rider-content{
	padding-top:5px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
}

.rider-content .rider-number{
	font-size:30px;
	font-weight:bold;
}

.rider-content .rider-name{

}

.rider-content .rider-team{

}

.team-wrapper{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}

.team-wrapper .team-img{
	width:100%;
	padding-bottom:10px;
}

.team-wrapper .rider-img{
	width:100%;
}

.team-wrapper .rider-img-panel{
	padding:0;
}

.team-wrapper .rider-name{
	font-size:14px;
}
