body{
	font-family:"Microsfot YaHei","微软雅黑";
	font-size:16px;
}

.mynav{
	border-radius: 0px;
	border: 0px;
	//border-bottom: 1px #e7e7e7 solid;
	//max-width: 980px;
	padding:0;
}

.footer {
	//position: absolute;
	bottom: 0;
	margin-top: 20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 50px;
	background-color: #f8f8f8;
	border-top: 1px #e7e7e7 solid;
}

.container .text-muted {
	margin: 15px 0;
}

.maincontainer{
	//padding: 0;
	//box-shadow: 2px 2px 1px #888888;
	//border: 1px #e7e7e7 solid;
}

.pagetitle{
	margin-left: auto;
	margin-right: auto;
}

.brandListImgContainer{
	height: 114px;
	width: 114px;
	margin: auto;
}

.searchResultContainer{
	padding: 0;
}

.carousel{
	width: 100%;
	height: 35vw;
	margin-bottom: 0px;
}

.carousel > .carousel-inner{
	height:100%;
}

.carousel-inner > .item{
	height:100%;
}

.carousel-inner > .item > img{
	height: 100%;
	width: auto;
	margin: auto;
}

.page-model{
	//max-width: 980px;
	//padding:0;
}

.page-specs{
	//max-width: 980px;
	//padding:0;
}

.page-specs .mybreadcrumb{
	background-color: #fff;
	padding: 8px 0;
}

.page-specs .specs{
	padding: 1em 0;
	border-top: 1px solid #d6d6d6;
	margin: 0 auto;
	//max-width:980px;
}

.page-specs .specs-header{
	//background: rgba(0,0,0,0.8);
	background-color: #606060;
}

.page-specs .specs-header-title{
	color: #fff;
	margin: 0;
	margin-left: 20px;
}

.page-specs .specs-title{
	margin: 5px 20px;
}

.page-specs .specs-content{
	margin: 5px 20px;
	font-size: 16px;
}
