nav(class="navbar navbar-default")
	.mynav.container-fluid
		.navbar-header
			button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand",href="") MYQ 资料库
		div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(href="" class="dropdown-toggle" data-toggle="dropdown" role="button") 车型资料
						span(class="caret")
					ul(class="dropdown-menu" role="menu")
						li
							a(href="/lib/model/brand") 品牌
						li
							a(href="") 类型
						li
							a(href="") 搜索
				li(class="dropdown")
					a(href="" class="dropdown-toggle" data-toggle="dropdown" role="button") 名词解释
						span(class="caret")
					ul(class="dropdown-menu" role="menu")
						li
							a(href="/lib/model/brand") 发动机
						li
							a(href="/lib/model/brand") 车架悬挂
						li
							a(href="/lib/model/brand") 维修保养
						li.divider(role="separator")
						li
							a(href="/lib/model/brand") 骑行技术


