doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title MYQ

    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/library.css')
    link(rel='stylesheet', href='/css/libraryrace.css')

    include layoutscript.jade
  body
    .container-fluid
      include header.jade

      block content

      include footer.jade
