doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title MYQ

    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/library.css')
    link(rel='stylesheet', href='/css/libraryrace.css')

  body
   .row
    .col-md-12(class="maincontainer")
      include header.jade

      block content

      include footer.jade

  include layoutscript.jade
