extends layout

block content
	.container-fluid
		.row
			.col-md-12
				h1.pagetitle.text-center 品牌
		.row
			.col-md-6
				.col-md-3
					a(href="brand/honda/")
						.brandListImgContainer.thumbnail
								img(src="/img/brand/honda.png")
						h5.text-center 本田
				.col-md-3
					a(href="brand/yamaha/")
						.brandListImgContainer.thumbnail
							img(src="/img/brand/yamaha.jpg")
						h5.text-center 雅马哈
				.col-md-3
					a(href="brand/suzuki/")
						.brandListImgContainer.thumbnail
							img(style="max-height:100%" src="/img/brand/suzuki.jpg")
						h5.text-center 铃木
				.col-md-3
					a(href="brand/kawasaki/")
						.brandListImgContainer.thumbnail
							img(style="margin-top:25px" src="/img/brand/kawasaki.png")
						h5.text-center 川崎
			.col-md-6
				.col-md-3
					a(href="brand/bmw/")
						.brandListImgContainer.thumbnail
							img(src="/img/brand/bmw.png")
						h5.text-center 宝马
				.col-md-3
					a(href="brand/ducati/")
						.brandListImgContainer.thumbnail
							img(src="/img/brand/ducati.png")
						h5.text-center 杜卡迪
