extends ../main

block inner-menubar
	include motogp_inner_menubar.jade

block mainwindow
	.container-fluid
		.row
			.col-md-12.col-xs-12
				.row(id="inner-menubar-placeholder")
				.row
					.col-md-12.col-xs-12
						h1.pagetitle.text-center 2015年赛程
							small MotoGP 世界摩托车锦标赛
					
