
nav.mynav.inner-menubar.navbar.navbar-default(id="inner-menubar")
	.col-md-2.col-xs-1
	.col-md-8.col-xs-12.container-fluid(id="inner-menubar-fluid")
		.navbar-header
			button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#race-motogp-navbar-collapse-1")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a.navbar-brand-img.navbar-brand(href="/lib/race/motogp") 
				img.inner-menubar-img(src="/img/motogp/motogp_logo.png") 
		.navbar-collapse.collapse(id="race-motogp-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right
				li 
					a(href="/lib/race/motogp/2015") 2015赛程
				li 
					a(href="/lib/race/motogp/2016") 2016赛程
	.col-md-2.col-xs-1

