extends ../main

block mainwindow
	.container-fluid.page-model
		.row
			.col-md-11.col-xs-11
				.row
					.col-md-12.col-xs-12
						h1.pagetitle.text-center MotoGP 
							small 世界摩托车锦标赛
				.row
					.col-md-12.col-xs-12
						p ABCDE ABCDE ABCDE
						p EFEFEFEEFEFEFEFEFE
				.row
					.col-md-12.col-xs-12
						.col-md-6.col-xs-6
							.race-year-thumbnail.thumbnail
								a(href="") 2015
						.col-md-6.col-xs-6
							.race-year-thumbnail.thumbnail
								a(href="") 2016
